body {
  margin: auto;
  background-color: #f6f6f6;
}
.youtubeContainer {
  position: relative;
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
  background-color:black;
}
.gameTitle {
  font-size: 200%;
  font-family: "Abril Fatface", cursive;
  color: black;
}
.game {
  position: relative;
  width: 80%;
  left: 10%;
}
.gameVid {
  width: 75%;
  height: 364px;
}
.scrollmenu {
  position: relative;
  background-color: white;
  overflow: auto;
  white-space: nowrap;
  width: 75%;
  height: 200px;
  left: 12.5%;
  /* top: 70%; */
  border-radius: 3%;
}
.vidContainer {
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100px;
  /* top: 50%; */
}
.imgContainer {
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100px;
  /* top: 50%; */
}
.scrollVid {
  /* text-align: center; */
  /* margin-right: 1px; */
  margin: 0px 1px 0.5px 0px;
  width: 250px;
  height: 100%;
}
.scrollImg {
  width: 250px;
  height: 100%;
  margin: 0.5px 1px 0px 0px;
}
.gameDescriptionContainer {
  position: relative;
  display: flex;
  justify-content: center;
  /* margin-top: -25px; */
}
.gameDescription {
  width: 75%;
  font-size: 150%;
  /* height: 400px; */
  /* background-color: white; */
  /* overflow: scroll; */
  /* border: 1px; */
  text-align: left;
  /* border-style: solid;
    border-color: black;
    padding: 0px 25px 0px 25px; */
}
@media only screen and (max-width: 805px) {
  .game {
    width: 100%;
    left: 0%;
  }
}
