body {
  margin: auto;
  background-color: #f6f6f6;
  /* background-image: url(./controller.png); */
}
.loadingBar {
  /* display: flex;
  justify-self: center; */
}

.container {
  position: absolute;
  width: 100%;
  height: 1000px;
}

.overlay {
  position: absolute;
  /* top: 100px; */
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 2;
  height: 1000px;
  transition: 0.5s ease;
}
.overlayEverything{
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
}
.overlayBackgroundColor {
  position: absolute;
  background-color: rgb(61, 75, 80);
  opacity: .8;
  height: 100%;
  width: 100%;
  /* z-index: 1; */
}
.pageButtons {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  height: 35px;
  width: 100%;
  top: 80px;
  /* background-color: steelblue; */

}
.pageButtons > button {
  width: 113px;
  border-radius: 3%;
}
.gameContainer {
  display: inline-table;
  justify-content: center;
  position: relative;
  background-color: rgb(255, 255, 255);
  height: 250px;
  width: 40%;
  /* margin: auto; */
  margin: 50px 0px 0px 50px;
}
.loadingContainer{
  display: flex;
  width: 100%;
  justify-content: center;
}
.gamePic {
  position: absolute;
  top: 2.5%;
  /* left: 2.5%; */
  width: 100%;
  height: 95%;
}
.gamePic1 {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  z-index: 0;
  /* display: none; */
}

.picText {
  position: absolute;
  display: inline-block;
  font-size: 200%;
  text-align: center;
  opacity: 0.7;
  width: 95%;
  height: 30%;
  left:2.5%;
  top: 67.5%;
  color: white;
  background-color: black;
}



.gameVid {
  width: 100%;
  height: 400px;
}

.imgContainer {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 50%;
}



.blankContainer {
  width: 100%;
  height: 100px;
}


@media only screen and (max-width: 999px) {
    .gameContainer {
        width: 350px ;
        height: 300px;
    }
    .picText {
        font-size: 150%
    };
}
@media only screen and (max-width: 805px) {
    .gameContainer {
        width: 450px ;
        display: flex;
        margin: auto;
        height: 300px;
        top: 50px;

    }
    .picText {
        font-size: 150%
    }
    .gameVid {
      /* width: 440px; */
      height: 300px;
    }
    .gameTitle{
      font-size: 175%;
    }
    /* .scrollmenu {
      top: 57%;
    } */
    
}

@media only screen and (max-width: 455px) {
    .gameContainer {
        width: 300px ;
        display: flex;
        margin: auto;
        height: 250px;
    }
    .picText {
        font-size: 150%
    }
    .gameVid {
      /* width: 310px; */
      height: 200px;
    }
    .gameTitle{
      font-size: 150%;
    }
    /* .scrollmenu {
      top: 43.5%;
    } */
    
}
