body {
  margin: auto;
  background-image: url(./controller.png);
}

.header {
  position: relative;
  /* color: white; */
  width: 100%;
  height: 100px;
}

.container {
  position: relative;
  width: 100%;
  height: 1000px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(61, 75, 80);
  overflow: hidden;
  z-index: 1;
  height: 100%;
  transition: 0.5s ease;
}
.gameContainer {
  display: inline-table;
  justify-content: center;
  position: relative;
  background-color: rgb(255, 255, 255);
  height: 400px;
  width: 40%;
  /* margin: auto; */
  margin: 50px 0px 0px 50px;
}
.gamePic {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
}
.picText {
  position: absolute;
  display: inline-block;
  font-size: 200%;
  text-align: center;
  opacity: 0.7;
  width: 95%;
  height: 30%;
  left:2.5%;
  top: 67.5%;
  color: white;
  background-color: black;
}


@media only screen and (max-width: 999px) {
    .gameContainer {
        width: 350px ;
        height: 300px;
    }
    .picText {
        font-size: 150%
    };
}
@media only screen and (max-width: 805px) {
    .gameContainer {
        width: 450px ;
        display: flex;
        margin: auto;
        height: 300px;
        top: 50px;

    }
    .picText {
        font-size: 150%
    };
}

@media only screen and (max-width: 455px) {
    .gameContainer {
        width: 300px ;
        display: flex;
        margin: auto;
        height: 250px;
    }
    .picText {
        font-size: 150%
    };
}
